.admin-dashboard {
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url('../assets/images/kucang.png');
  background-position: center bottom; /* Gambar akan muncul di bawah tengah */
  background-repeat: no-repeat;
  background-size: contain; /* Ukuran gambar akan disesuaikan agar pas */
}

