.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--light-blue); /* Latar belakang light blue */
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.hero-content h1 span {
  color: var(--light-purple); /* Warna light purple untuk teks */
}

.hero-content p {
  font-size: 1rem;
  color: #555;
}

.view-pets-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--light-pink); /* Tombol light pink */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.pengajuan-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.pet-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pengajuan-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
